body {
  background: #E0EAF3;
  margin-top: 5rem;
  overflow: hidden;
}

.button-authenticate {
  padding: 50px;
  background-color: #607c8c;
  color: #FFF;
  font-family: Sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 36% */
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 20px;

  /* Center horizontally -> Could make it manual if I add another button later*/
  display: flex;
  margin-top: 90px; /* Adjust the value to move the button vertically */
  justify-content: center;
  
  }

  .image-container {
    width: 500px; /* Set the width of the container */
    height: 500px; /* Set the height of the container */
    position: relative; /* Set position to relative for proper child positioning */
}

.image-container img {
    transform: rotate(90deg); /* Rotate the image 90 degrees clockwise */
    transform-origin: bottom left; /* Set the rotation origin to bottom left */
    width: 100%; /* Make the rotated image fill the container width */
    height: auto; /* Maintain the aspect ratio */
    position: absolute; /* Set position to absolute for proper positioning within the container */
    margin-top: -305px;
    margin-left: 1170px;
  }

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: 30px;     /* Change the height of the socials bar */
}
