body {
  background: #E0EAF3;
  margin-top: 5rem;
}

.button-authenticate {
  padding: 50px;
  background-color: #F86642;
  color: #FFF;
  font-family: Sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 36% */
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 20px;

  /* Center horizontally -> Could make it manual if I add another button later*/
  display: flex;
  margin-top: 400px; /* Adjust the value to move the button vertically */
  justify-content: center;
  
  }

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
